/* CSS for Product Details Page */
.thumbSwiper .swiper-slide-thumb-active img {
    border-color: #DC143C !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: #DC143C;
    /* Màu đỏ tươi */
}

@keyframes slide-up {
    0% {
        transform: translate(-50%, 100%);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

.popup-slide-up {
    position: fixed;
    bottom: 1.25rem;
    /* bottom-5 */
    left: 50%;
    animation: slide-up 0.3s ease-out forwards;
}

/* Ẩn navigation ở mobile (<768px) */
@media (max-width: 767px) {

    .swiper .swiper-button-prev,
    .swiper .swiper-button-next {
        display: none !important;
    }
}

/* chat bot */